.main-header
{
    background: tan;
    position: fixed;
    width: 100%;
    z-index: 100000;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
img
{
    height: 67px;
    position: relative;
    cursor: pointer;
}
.sub-header
{
    display: flex;
    padding: 0.4rem;
    justify-content: space-between;
}